<div class="container">
  <div class="card mx-auto mt-5" style="max-width: 400px; border-radius: 15px;">
    <div class="card-body p-5">
      <h2 class="card-title text-center mb-3">Sign up</h2>
      <form [formGroup]="registrationForm">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" formControlName="username" id="username" required (focus)="resetErrorState()">
        </div>
        <div *ngIf="incorrectUsername" class="text-danger text-center small">Username must have from 3 to 20 characters</div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" formControlName="email" id="email" required (focus)="resetErrorState()">
        </div>
        <div *ngIf="incorrectEmail" class="text-danger text-center small">Incorrect email format</div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" formControlName="password" id="password" required (focus)="resetErrorState()">
        </div>
        <div *ngIf="incorrectPassword" class="text-danger text-center small">Password must be at least 8 charactes long</div>
        <div class="form-group">
          <label for="confirmPassword">Confirm password:</label>
          <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword" required (focus)="resetErrorState()">
        </div>
        <div *ngIf="incorrectConfirmPassword" class="text-danger text-center small">Password must be at least 8 charactes long</div>
        <div *ngIf="passwordMismatch" class="text-danger text-center small">Passwords do not match</div>
        <div class="d-flex justify-content-center mt-4">
          <button type="button" class="btn btn-primary" (click)="onSubmit()">Sign up</button>
        </div>
      </form>
      <div *ngIf="usernameOrEmailTaken" class="text-danger mt-4 text-center small">{{errorMessage}}</div>
    </div>
  </div>
</div>